@mixin social-icon($urlLight, $urlDark) {
  $size: 24px;
  $padding: 4px;

  padding-left: $padding;
  padding-right: $padding;
  margin-left: calc($size / 2 - $padding);
  margin-right: calc($size / 2 - $padding);
  border-radius: 50%;

  &::before {
    content: "";
    width: $size;
    height: $size;
    display: flex;
    background: url($urlLight) no-repeat;

    html[data-theme="dark"] & {
      background: url($urlDark) no-repeat;
    }
  }

  &:hover {
    background: var(--ifm-color-emphasis-200);
  }
}

.header-github-link {
  /* stylelint-disable max-line-length */
  @include social-icon(
    "data:image/svg+xml,%3Csvg viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5088 0C6.04806 0 0 5.96688 0 13.3275C0 19.216 3.86723 24.2159 9.24426 25.9755C9.91529 26.0975 10.1625 25.6881 10.1625 25.3309C10.1625 25.0173 10.1537 24.1811 10.1448 23.0661C6.38357 23.8762 5.58893 21.2804 5.58893 21.2804C4.97088 19.7386 4.08796 19.3292 4.08796 19.3292C2.86069 18.5017 4.18508 18.5191 4.18508 18.5191C5.54479 18.6149 6.25113 19.8954 6.25113 19.8954C7.46074 21.9337 9.41202 21.3414 10.1802 21.0017C10.3038 20.1393 10.6481 19.5557 11.0366 19.216C8.03465 18.8762 4.88259 17.7351 4.88259 12.6306C4.88259 11.1759 5.41235 9.98254 6.26879 9.05049C6.12752 8.71077 5.6684 7.3606 6.40123 5.52263C6.40123 5.52263 7.53138 5.16549 10.1184 6.89022C11.1955 6.59405 12.3522 6.44597 13.5 6.44597C14.6478 6.45468 15.8044 6.60276 16.8816 6.89022C19.4597 5.16549 20.5899 5.52263 20.5899 5.52263C21.3316 7.3606 20.8636 8.71077 20.7223 9.05049C21.5876 9.98254 22.1085 11.1759 22.1085 12.6306C22.1085 17.7526 18.9476 18.8762 15.9369 19.2073C16.4225 19.6167 16.8551 20.4355 16.8551 21.6724C16.8551 23.4581 16.8375 24.8954 16.8375 25.3309C16.8375 25.6881 17.0847 26.1062 17.7645 25.9755C23.1327 24.2072 27 19.216 27 13.3275C27.0176 5.96688 20.9696 0 13.5088 0Z' fill='%23181c49'/%3E%3C/svg%3E",
    "data:image/svg+xml,%3Csvg viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5088 0C6.04806 0 0 5.96688 0 13.3275C0 19.216 3.86723 24.2159 9.24426 25.9755C9.91529 26.0975 10.1625 25.6881 10.1625 25.3309C10.1625 25.0173 10.1537 24.1811 10.1448 23.0661C6.38357 23.8762 5.58893 21.2804 5.58893 21.2804C4.97088 19.7386 4.08796 19.3292 4.08796 19.3292C2.86069 18.5017 4.18508 18.5191 4.18508 18.5191C5.54479 18.6149 6.25113 19.8954 6.25113 19.8954C7.46074 21.9337 9.41202 21.3414 10.1802 21.0017C10.3038 20.1393 10.6481 19.5557 11.0366 19.216C8.03465 18.8762 4.88259 17.7351 4.88259 12.6306C4.88259 11.1759 5.41235 9.98254 6.26879 9.05049C6.12752 8.71077 5.6684 7.3606 6.40123 5.52263C6.40123 5.52263 7.53138 5.16549 10.1184 6.89022C11.1955 6.59405 12.3522 6.44597 13.5 6.44597C14.6478 6.45468 15.8044 6.60276 16.8816 6.89022C19.4597 5.16549 20.5899 5.52263 20.5899 5.52263C21.3316 7.3606 20.8636 8.71077 20.7223 9.05049C21.5876 9.98254 22.1085 11.1759 22.1085 12.6306C22.1085 17.7526 18.9476 18.8762 15.9369 19.2073C16.4225 19.6167 16.8551 20.4355 16.8551 21.6724C16.8551 23.4581 16.8375 24.8954 16.8375 25.3309C16.8375 25.6881 17.0847 26.1062 17.7645 25.9755C23.1327 24.2072 27 19.216 27 13.3275C27.0176 5.96688 20.9696 0 13.5088 0Z' fill='white'/%3E%3C/svg%3E"
  );
  /* stylelint-enable max-line-length */
}

.header-discord-link {
  /* stylelint-disable max-line-length */
  @include social-icon(
    "data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4998 12C14.6567 12 14 12.6762 14 13.5C14 14.3238 14.6745 15 15.4998 15C16.3429 15 16.9997 14.3238 16.9997 13.5C17.0174 12.6762 16.3429 12 15.4998 12Z' fill='%23181c49'/%3E%3Cpath d='M10.4998 12C9.65672 12 9 12.6762 9 13.5C9 14.3238 9.67447 15 10.4998 15C11.3429 15 12.0085 14.3238 11.9997 13.5C12.0174 12.6762 11.3429 12 10.4998 12Z' fill='%23181c49'/%3E%3Cpath d='M13 0C5.82102 0 0 5.82102 0 13C0 20.179 5.82102 26 13 26C20.179 26 26 20.179 26 13C26.0086 5.82102 20.1876 0 13 0ZM21.0785 17.1949C19.6687 18.2502 18.3021 18.8902 16.9528 19.3054C16.6154 18.847 16.3214 18.3626 16.0705 17.8523C16.5549 17.6707 17.022 17.4371 17.4631 17.1776C17.3506 17.0912 17.2295 17.0047 17.1257 16.9095C14.479 18.1637 11.5642 18.1637 8.8829 16.9095C8.77046 17.0047 8.65802 17.0912 8.54558 17.1776C8.98669 17.4458 9.45376 17.6707 9.93813 17.8523C9.68729 18.3626 9.38456 18.847 9.05589 19.3054C7.71523 18.8902 6.33998 18.2502 4.93014 17.1949C4.64471 14.1071 5.21557 10.9674 7.34332 7.74983C8.39854 7.25682 9.5316 6.89355 10.7079 6.69461C10.855 6.95409 11.0279 7.30872 11.1404 7.5855C12.3686 7.39521 13.6141 7.39521 14.8683 7.5855C14.9807 7.30872 15.1537 6.95409 15.3007 6.69461C16.477 6.9022 17.6101 7.25682 18.6653 7.74983C20.499 10.509 21.4158 13.6141 21.0785 17.1949Z' fill='%23181c49'/%3E%3C/svg%3E",
    "data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4998 12C14.6567 12 14 12.6762 14 13.5C14 14.3238 14.6745 15 15.4998 15C16.3429 15 16.9997 14.3238 16.9997 13.5C17.0174 12.6762 16.3429 12 15.4998 12Z' fill='white'/%3E%3Cpath d='M10.4998 12C9.65672 12 9 12.6762 9 13.5C9 14.3238 9.67447 15 10.4998 15C11.3429 15 12.0085 14.3238 11.9997 13.5C12.0174 12.6762 11.3429 12 10.4998 12Z' fill='white'/%3E%3Cpath d='M13 0C5.82102 0 0 5.82102 0 13C0 20.179 5.82102 26 13 26C20.179 26 26 20.179 26 13C26.0086 5.82102 20.1876 0 13 0ZM21.0785 17.1949C19.6687 18.2502 18.3021 18.8902 16.9528 19.3054C16.6154 18.847 16.3214 18.3626 16.0705 17.8523C16.5549 17.6707 17.022 17.4371 17.4631 17.1776C17.3506 17.0912 17.2295 17.0047 17.1257 16.9095C14.479 18.1637 11.5642 18.1637 8.8829 16.9095C8.77046 17.0047 8.65802 17.0912 8.54558 17.1776C8.98669 17.4458 9.45376 17.6707 9.93813 17.8523C9.68729 18.3626 9.38456 18.847 9.05589 19.3054C7.71523 18.8902 6.33998 18.2502 4.93014 17.1949C4.64471 14.1071 5.21557 10.9674 7.34332 7.74983C8.39854 7.25682 9.5316 6.89355 10.7079 6.69461C10.855 6.95409 11.0279 7.30872 11.1404 7.5855C12.3686 7.39521 13.6141 7.39521 14.8683 7.5855C14.9807 7.30872 15.1537 6.95409 15.3007 6.69461C16.477 6.9022 17.6101 7.25682 18.6653 7.74983C20.499 10.509 21.4158 13.6141 21.0785 17.1949Z' fill='white'/%3E%3C/svg%3E"
  );
  /* stylelint-enable max-line-length */
}

.social_media {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  gap: 40px;
  max-width: 800px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .socials_link {
    display: flex;

    svg {
      width: 50px;
      height: auto;

      path {
        fill: var(--ifm-font-color-base);
      }
    }

    &:hover {
      $social_medias: (
        linkedin: #0077b5,
        twitter: #1da1f2,
        github: black,
        discord: #5865f2,
        telegram: #0088cc,
        medium: black,
        website: orange
      );

      @each $social_media, $color in $social_medias {
        &.#{$social_media} {
          > svg {
            path {
              fill: $color;
            }
          }
        }
      }
    }
  }
}
