@import "community";
@import "main";
@import "animation";
@import "card";
@import "quiz";

@font-face {
  font-family: anton;
  src: url("/static/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: "Helvetica bold";
  src: url("/static/fonts/Helvetica/HelveticaNeueBold.otf");
}

@font-face {
  font-family: "Helvetica regular";
  src: url("/static/fonts/Helvetica/HelveticaNeueRoman.otf");
}

:root {
  --ifm-color-primary: #ea5903;
  --ifm-hover-overlay: rgb(255 149 0 / 12%);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Helvetica regular", sans-serif;
  --ifm-heading-font-family: "Helvetica bold", sans-serif;
  --ifm-h1-font-family: anton, sans-serif;
  --ifm-font-color-base: #0d0d0d;
  --ifm-menu-color: #0d0d0d;
  --ifm-heading-color: #0d0d0d;
  --ifm-card-font-color: #0d0d0d;
  --ifm-background-color-main: transparent linear-gradient(180deg, #faf8f46c 0%, white 0%) 0% 0%
    no-repeat padding-box;
  --ifm-footer-background-color-main: white;
  --ifm-navbar-background-color: #f2f6f9;
  --ifm-navbar-item-color: linear-gradient(39.81deg, #006796 21.82%, #00b6b7 98.43%);
  --ifm-article-anchor-color: #ea5903;
  --ifm-graph-svg-background-color: #ecf0f1;
  --ifm-knowledge-graph-data-fill-color: #f3a83f;
  --ifm-knowledge-graph-service-fill-color: #bf0000;
  --ifm-knowledge-graph-base-stroke-color: #433d32;
  --ifm-knowledge-graph-edge-stroke-color: #b5b5b5;
  --ifm-knowledge-graph-base-stroke-width: 3px;
  --ifm-navbar-search-input-background-color: rgb(0 0 0 / 4%);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f79413;
  --ifm-font-color-base: white;
  --ifm-menu-color: #ced2d9;
  --ifm-heading-color: white;
  --ifm-background-color-main: transparent linear-gradient(180deg, #0c1529 0%, #0f224a 100%) 0% 0%
    no-repeat padding-box;
  --ifm-footer-background-color-main: transparent linear-gradient(180deg, #102040 0%, #061126 100%)
    0% 0% no-repeat padding-box;
  --ifm-navbar-background-color: #0f1e3d;
  --search-local-highlight-color: #877b65;
  --ifm-knowledge-graph-base-stroke-color: white;
  --ifm-navbar-search-input-background-color: rgb(255 255 255 / 4%);
}

[data-theme="dark"] .menu a:hover {
  background-color: rgb(255 149 0 / 12%);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 30%);
}

.docusaurus-plugin-drawio {
  background-color: transparent;
  border: none;
}

.graph-svg-container {
  margin-bottom: var(--ifm-leading);
}

.hide {
  display: none;
}

.plot {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
}

figure {
  margin-left: 0;
  margin-right: 0;
}
