@import "community";
@import "main";
@import "animation";

@font-face {
  font-family: "Barlow regular";
  src: url("/static/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Montserrat bold";
  src: url("/static/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

:root {
  --ifm-color-primary: #181c49;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "Barlow regular", sans-serif;
  --ifm-heading-font-family: "Montserrat bold", sans-serif;
  --ifm-font-color-base: #181c49;
  --ifm-menu-color: #181c49;
  --ifm-heading-color: #181c49;
  --ifm-background-color-main: transparent linear-gradient(180deg, #faf8f4 0%, white 100%) 0% 0%
    no-repeat padding-box;
  --ifm-footer-background-color-main: transparent linear-gradient(212deg, #181c49 0%, #343869 100%)
    0% 0% no-repeat padding-box;
  --ifm-navbar-background-color: white;
  --ifm-background-image-url: url("/static/img/universe-light.png");
  --ifm-article-anchor-color: #877b65;
  --ifm-graph-svg-background-color: #ecf0f1;
  --ifm-knowledge-graph-data-fill-color: #877b65;
  --ifm-knowledge-graph-data-stroke-color: #433d32;
  --ifm-knowledge-graph-service-fill-color: white;
  --ifm-knowledge-graph-service-stroke-color: #7f7f7f;
  --ifm-knowledge-graph-edge-stroke-color: #b5b5b5;
  --ifm-knowledge-graph-text-color: black;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: white;
  --ifm-font-color-base: white;
  --ifm-menu-color: #ced2d9;
  --ifm-heading-color: white;
  --ifm-background-color-main: transparent linear-gradient(180deg, #0c1529 0%, #0f224a 100%) 0% 0%
    no-repeat padding-box;
  --ifm-footer-background-color-main: transparent linear-gradient(180deg, #102040 0%, #061126 100%)
    0% 0% no-repeat padding-box;
  --ifm-navbar-background-color: #0f1e3d;
  --ifm-background-image-url: url("/static/img/universe-dark.png");
  --search-local-highlight-color: #877b65;
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 30%);
}

.docusaurus-plugin-drawio {
  background-color: transparent;
  border: none;
}

.graph-svg-container {
  background-color: var(--ifm-graph-svg-background-color);
}
