html {
  background: var(--ifm-background-color-main);
  min-height: 100%;
  height: unset !important;

  .navbar__link--active,
  .menu__link--active,
  .table-of-contents__link--active {
    font-family: "Noto black", sans-serif;
  }

  .pagination-nav__label {
    font-family: "Noto bold", sans-serif;
  }

  .footer {
    background: var(--ifm-footer-background-color-main);

    .footer__link-item {
      color: #ced2d9;

      &:hover {
        color: white;
      }
    }
  }

  main {
    background-image: var(--ifm-background-image-url);
    background-repeat: no-repeat;

    article {
      > *:not(footer) {
        a,
        a:hover {
          color: var(--ifm-article-anchor-color);
          font-weight: bold;
        }
      }

      table {
        display: table;
        margin: var(--ifm-spacing-vertical) auto;
      }
    }
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
