html {
  background: var(--ifm-background-color-main);
  min-height: 100%;
  height: unset !important;

  .navbar__link--active,
  .menu__list-item,
  .table-of-contents__link--active,
  .pagination-nav__label,
  .footer__title {
    font-family: var(--ifm-heading-font-family);
  }

  .menu__link {
    margin-top: 0%;
    padding-left: 40px;
    font-size: 18px;
  }

  h2:hover {
    color: #ff9500;
  }

  .navbar__items--right {
    display: flex;
    flex-direction: row-reverse;
  }

  .card-title {
    text-decoration: none;
  }

  .thin-scrollbar {
    background-color: var(--ifm-navbar-background-color);
  }

  .menu__link--active,
  .menu__link:hover {
    border-right: solid 2px;
    border-radius: 0;
    border-color: #ff9500;
  }

  .button[class*="CollapseButton"] {
    border-radius: 10px;
  }

  [class*="menu_node_modules-"] {
    padding-top: 50px;
  }

  .theme-doc-sidebar-container {
    border-right: unset;
  }

  .markdown h1:first-child {
    color: inherit;
  }

  .navbar--fixed-top {
    height: 80px;
  }

  .navbar__items {
    font-size: 18px;

    .navbar__search {
      input {
        font-family: var(--ifm-font-family-base);
      }

      > button {
        cursor: pointer;
      }
    }
  }

  .pagination-nav__label {
    color: var(--ifm-font-color-base);
  }

  .pagination-nav__label:hover {
    color: var(--ifm-color-primary);
  }

  .navbar__link--active {
    font-weight: var(--ifm-font-weight-bold);
  }

  .footer {
    background: var(--ifm-footer-background-color-main);

    .footer__link-item {
      color: #ced2d9;

      &:hover {
        color: white;
      }
    }
  }

  main {
    article {
      > *:not(footer) {
        a,
        a:hover {
          color: var(--ifm-article-anchor-color);
          font-weight: bold;
          text-decoration: none;
        }
      }

      table {
        display: table;
        margin: var(--ifm-spacing-vertical) auto;
      }
    }
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

svg {
  .knowledge-graph {
    g.node {
      ellipse {
        fill: var(--ifm-knowledge-graph-data-fill-color);
        stroke: var(--ifm-knowledge-graph-base-stroke-color);
        stroke-width: var(--ifm-knowledge-graph-base-stroke-width);
      }

      path {
        fill: var(--ifm-knowledge-graph-service-fill-color);
        stroke: var(--ifm-knowledge-graph-base-stroke-color);
        stroke-width: var(--ifm-knowledge-graph-base-stroke-width);
      }

      text {
        fill: var(--ifm-color-primary);
        font-family: var(--ifm-font-family-base);
      }
    }

    g.edge {
      path {
        stroke: var(--ifm-knowledge-graph-edge-stroke-color);
        stroke-dasharray: 10;
        stroke-width: calc(var(--ifm-knowledge-graph-base-stroke-width) + 1px);
      }

      polygon {
        stroke: var(--ifm-knowledge-graph-edge-stroke-color);
        fill: var(--ifm-knowledge-graph-edge-stroke-color);
        stroke-width: calc(var(--ifm-knowledge-graph-base-stroke-width) - 1px);
        transform: translateX(-3px);
      }
    }
  }
}

.docs-doc-id-faq\/faq {
  .markdown > h2 {
    font-size: var(--ifm-h3-font-size);
  }
}
