@mixin with-linear-gradient($background-color) {
  background: var($background-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  background: var(--ifm-background-color-main);
  min-height: 100%;
  height: unset !important;

  h1 {
    font-family: var(--ifm-h1-font-family);
    text-transform: uppercase;
    font-size: 70px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 30px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .footer__title {
    font-family: var(--ifm-heading-font-family);
  }

  .table-of-contents {
    font-size: 14px;
    border-color: var(--ifm-color-primary);

    .table-of-contents__link {
      color: var(--ifm-font-color-base);
    }

    .table-of-contents__link--active {
      font-weight: 700;
    }
  }

  .menu__link {
    margin-top: 0%;
    padding-left: 40px;
    font-size: 18px;
  }

  .navbar__items--right {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 996px) {
      position: absolute;
      right: 55px;
      top: 40px;
    }
  }

  .card-title {
    text-decoration: none;
  }

  .thin-scrollbar {
    background-color: var(--ifm-navbar-background-color);
  }

  .hash-link {
    display: none;
  }

  .menu__link--active,
  .menu__link:hover {
    border-right: solid 2px;
    border-radius: 0;
    border-color: var(--ifm-color-primary);
  }

  .button[class*="CollapseButton"] {
    border-radius: 10px;
  }

  [class*="menu_node_modules-"] {
    padding-top: 50px;
  }

  .theme-doc-sidebar-container {
    border-right: unset;
  }

  .markdown h1:first-child {
    color: inherit;
  }

  .navbar--fixed-top {
    height: 80px;
  }

  .navbar__items {
    font-size: 18px;

    @media (max-width: 996px) {
      flex-direction: row-reverse;

      .navbar__brand {
        width: 100%;
      }
    }

    .navbar__link {
      color: inherit;
    }

    .navbar__search {
      input {
        font-family: var(--ifm-font-family-base);
      }

      > button {
        cursor: pointer;
      }
    }
  }

  .pagination-nav__label {
    color: var(--ifm-font-color-base);
  }

  .pagination-nav__label:hover {
    color: var(--ifm-color-primary);
  }

  .navbar-sidebar {
    left: inherit;
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  .navbar-sidebar--show .navbar-sidebar {
    transform: translate3d(0, 0, 0);
  }

  .navbar__link--active {
    @include with-linear-gradient(--ifm-navbar-item-color);

    font-weight: var(--ifm-font-weight-bold);
  }

  .navbar__link:hover {
    @include with-linear-gradient(--ifm-navbar-item-color);
  }

  .dropdown .navbar__link:hover::after {
    border-color: #00b6b7 transparent;
  }

  .footer {
    background: var(--ifm-footer-background-color-main);

    .footer__col {
      flex: 0 0 100%;
      max-width: 100%;

      @media (min-width: 320px) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (min-width: 768px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .footer__link-item {
      color: #181c49;

      &:hover {
        color: #ff9500;
      }
    }
  }

  main {
    article {
      > *:not(footer) {
        a,
        a:hover {
          color: var(--ifm-article-anchor-color);
          font-weight: bold;
          text-decoration: none;
        }
      }

      table {
        display: table;
        margin: var(--ifm-spacing-vertical) auto;
      }
    }
  }
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

svg {
  .knowledge-graph {
    g.node {
      ellipse {
        fill: var(--ifm-knowledge-graph-data-fill-color);
        stroke: var(--ifm-knowledge-graph-base-stroke-color);
        stroke-width: var(--ifm-knowledge-graph-base-stroke-width);
      }

      path {
        fill: var(--ifm-knowledge-graph-service-fill-color);
        stroke: var(--ifm-knowledge-graph-base-stroke-color);
        stroke-width: var(--ifm-knowledge-graph-base-stroke-width);
      }

      text {
        fill: var(--ifm-color-primary);
        font-family: var(--ifm-font-family-base);
      }
    }

    g.edge {
      path {
        stroke: var(--ifm-knowledge-graph-edge-stroke-color);
        stroke-dasharray: 10;
        stroke-width: calc(var(--ifm-knowledge-graph-base-stroke-width) + 1px);
      }

      polygon {
        stroke: var(--ifm-knowledge-graph-edge-stroke-color);
        fill: var(--ifm-knowledge-graph-edge-stroke-color);
        stroke-width: calc(var(--ifm-knowledge-graph-base-stroke-width) - 1px);
        transform: translateX(-3px);
      }
    }
  }
}

.docs-doc-id-faq\/faq {
  .markdown > h2 {
    font-size: var(--ifm-h3-font-size);
  }
}

.markdown > h3 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.theme-edit-this-page {
  color: var(--ifm-knowledge-graph-edge-stroke-color);
}

.menu__link--sublist {
  color: var(--ifm-font-color-base);

  &.menu__link--active {
    border: none;
  }
}

@media (max-width: 1400px) {
  .breadcrumbs {
    display: none;
  }
}

.hidden {
  display: none !important;
}
