div.react-quiz-container {
  border: 1px solid var(--ifm-toc-border-color);
  border-color: var(--ifm-color-primary);
  padding: 20px;
  background-color: var(--ifm-navbar-background-color);
  max-width: 100%;

  .questionWrapper {
    .answerBtn {
      font-weight: var(--ifm-font-weight-semibold, 600);
      font-family: var(--ifm-font-family-base, sans-serif);

      &:hover,
      &:focus {
        border-color: var(--ifm-color-primary);
      }
    }

    .btn {
      &.incorrect {
        background: var(--ifm-color-danger);
      }

      &.correct {
        background: var(--ifm-color-success);
      }
    }
  }

  .quiz-result-filter div.filter-dropdown-select {
    height: auto;
  }
}
