name: Auto fix Markdown

on:
  workflow_dispatch:

  schedule:
    - cron: "0 0 * * *"

jobs:
  auto-fix-markdown:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.OPS_TOKEN }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.BOT_GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Lint markdown files
        uses: avto-dev/markdown-lint@v1.5.0
        continue-on-error: true
        with:
          args: "**/*.md"
          ignore: contracts/**/*.md contracts_versioned_docs/**/*.md modules/**/*.md modules_versioned_docs/**/*.md commands/**/*.md commands_versioned_docs/**/*.md
          fix: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_user_name: ${{ vars.BOT_GIT_COMMITTER_NAME }}
          commit_user_email: ${{ vars.BOT_GIT_COMMITTER_EMAIL }}
          commit_author: ${{ vars.BOT_GIT_AUTHOR_NAME }} <${{ vars.BOT_GIT_AUTHOR_EMAIL }}>
          commit_message: "style: autofix markdown files"
