name: Bump axoned version
on:
  workflow_dispatch:
    inputs:
      axonedVersion:
        description: "Version of axoned"
        required: true

jobs:
  bump-axoned-version:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.OPS_TOKEN }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.BOT_GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Bump axoned version
        run: |
          dataFile="data/chain.json"
          tmpFile=$(mktemp)

          jq '.axonedVersion |= "${{ github.event.inputs.axonedVersion }}"' "$dataFile" > "$tmpFile" &&
          cp "$tmpFile" "$dataFile" &&
          rm -f "$tmpFile"

      - name: Commit axoned version change
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_user_name: ${{ secrets.BOT_GIT_COMMITTER_NAME }}
          commit_user_email: ${{ secrets.BOT_GIT_COMMITTER_EMAIL }}
          commit_author: ${{ secrets.BOT_GIT_AUTHOR_NAME }} <${{ secrets.BOT_GIT_AUTHOR_EMAIL }}>
          commit_message: "build: bump zxoned version to ${{ github.event.inputs.axonedVersion }}"
